* {
    border: 1px solid red;
}

body {
    font-family: monospace;
    font-weight: 400;
    /* font-size: 71.5px; */
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}

.calculator {
    width: 420px;
    height: 520px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    padding: 1rem;
    background-color: #000000;
}

.screen {
    height: 13vh;
    background-color: #000000;
    font-size: 71.5px;
    display: flex;
}

.display {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    color: #fefefe;
}

.operator, #equals {
    background-color: #ff9f0a;
    color: white;
}

.misc {
    background-color: #a5a5a5;
}

.operand {
    background-color: #343434;
    color: #fbfbfb;
}